<body>
    <% if flash[:errors] %>
        <ul>
            <% flash[:errors].each do |error| %>
            <li style="color:red;"><%= error %></li>
            <% end %>
        </ul>
    <% end %>
    <%= form_for [@commentable, @comments] do |f|%>
        <%= f.text_area :content%>
        <%= f.submit %>
    <%end%>
</body>