<h1>Events#show</h1>
<table>
    <tr>
        <th>Event Name:</th>
        <td><%= @event.name %></td>
    </tr>
    <tr>
        <th>Description:</th>
        <td><%= @event.description %></td>
    </tr>
    <tr>
        <th>Event Date:</th>
        <td><%= @event.event_date %></td>
    </tr>
    <tr>
        <th>Event Category:</th>
        <td><%= @event.category.c_name %></td>
    </tr>
</table>

